# 170. Keras Word Encoding

- Tokenizer, pad_sequence 소개

In [0]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [3]:
tokenizer = Tokenizer(num_words=100, oov_token='<OOV>')  # 빈도수 상위 100 개로 구성

sentences = [
    'I love my dog',
    'I love my cat',
    'You love my dog!',
    'I was born in Korea and graduaged University in USA.'
]

tokenizer.fit_on_texts(sentences)           
word_index = tokenizer.word_index
print(word_index)

{'<OOV>': 1, 'i': 2, 'love': 3, 'my': 4, 'dog': 5, 'in': 6, 'cat': 7, 'you': 8, 'was': 9, 'born': 10, 'korea': 11, 'and': 12, 'graduaged': 13, 'university': 14, 'usa': 15}

In [4]:
sequences = tokenizer.texts_to_sequences(sentences)
sequences

[[2, 3, 4, 5],
 [2, 3, 4, 7],
 [8, 3, 4, 5],
 [2, 9, 10, 6, 11, 12, 13, 14, 6, 15]]

In [5]:
padded = pad_sequences(sequences)
padded

array([[ 0,  0,  0,  0,  0,  0,  2,  3,  4,  5],
       [ 0,  0,  0,  0,  0,  0,  2,  3,  4,  7],
       [ 0,  0,  0,  0,  0,  0,  8,  3,  4,  5],
       [ 2,  9, 10,  6, 11, 12, 13, 14,  6, 15]], dtype=int32)